html {
  position: relative;
  background: rgb(207, 224, 255);
}

body {
  width: 1280px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  line-height: 1.4;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

h4,
p,
ul,
span {
  margin: 8px 0;
}

.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: no-repeat url("../img/cloud.jpg") center;
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  /* width: 1200px; */
  background-color: #fff;
  margin: 40px auto;
}

/* main content section */

.main-content-section {
  padding: 100px 90px;
}

.main-content-tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
  margin-bottom: 10px;
}

/* about me section */

.about-me-section {
  text-align: center;
  margin: 0 0 65px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #595959;
  margin: 0 0 20px 0;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}

.my-goal {
  font-weight: 600;
  font-size: 20px;
}

.about-me-description {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

/* my projects section */
.my-projects-section {
  margin: 0 0 50px 0;
}

.my-projects-list {
  padding: 0 0 0 17px;
}

.my-projects-item {
  color: black;
  font-weight: bold;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.my-work-experiense-position {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  /* margin: 0 0 10px 0; */
}

.my-work-experiense-list {
  padding: 0 0 0 17px;
}

.my-work-experiense-accent {
  font-weight: 600;
  text-decoration: underline;
}

.my-work-experiense-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 220px;
  width: 444px;
}

.my-work-experiense-item {
  width: 335px;
  color: #fb6d3a;
}

.my-work-experiense-item-accent {
  color: #000;
}

.my-work-experiense-time {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  margin: 0 0 10px 0;
}

.my-work-experiense-divider {
  color: black;
}

.my-work-experiense-duties {
  padding: 0 0 0 18px;
}

.my-work-experiense-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #595959;
}

.my-work-experiense-block {
  margin: 0 0 15px 0;
}

.my-work-experiense-block1 {
  margin: 0 0 20px 0;
}

.my-work-experiense-block2 {
  margin: 0 0 45px 0;
}

.my-education-section {
  padding: 0 0 10px 0;
}

/* sidebar-section */

.sidebar-section {
  width: 85%;
  padding-bottom: 100px;
  background-color: #207589;
  border-radius: 4px 0 0 4px;
}

.image-wrapper {
  padding: 20px 0 0 0;
  text-align: center;
}

.sidebar-section-image {
  width: 350px;
  height: 410px;
  border-radius: 50%;
}

.contacts-section,
.Tech-Skills-section {
  margin: 30px 40px 0;
}

.sidebar-tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  color: white;
  margin-bottom: 10px;
}

.soft-skills {
  margin: 25px 40px 0;
}

/* contacts section */

.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  margin-right: 7px;
  color: white;
}

.contacts-section-link {
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
}

.contacts-section-link:hover {
  color: gray;
}

.skills {
  padding: 0 0 0 17px;
}

.Tech-Skills-item {
  color: #fb6d3a;
}

.Tech-Skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: white;
}
